.footer{
    background-color: var(--color-bg);
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 2rem;
        padding-block: 1rem;
    }
}

.footer ul{
    list-style: none;

}
.footer ul li{
    margin-bottom: 8px;
}

.footer i{
    font-size: 1.5rem;
    color: var(--color-gray);
    border-radius: 5px;
    padding: 0.1rem;
    margin-bottom: 1rem;
}

.info-footer-wrapper{
    display: flex;
}

.wrapper-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.up i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-w) ;
    border-radius: 5px;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-bg);
}

@media (min-width: 1025px){
 
    .footer ul {
        font-size: 0.8rem;
    }

    .footer i{
        font-size: 1rem;
    }
    
    .up i {
        font-size: 0.5rem;
        width: 1rem;
        height: 1rem;
    }
}