
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "IBM Plex Sans", sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--color-gray);
    transition: ease 0.2s;

    &:hover{
        color: var(--color-primary);
    }
}

ul{
    list-style: none;
}

.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

