.sys-overview-section{
    padding: var(--padding-wrapper);
}

.sys-overview-section .product-img {
    display: none;
}
.sys-overview-section .product-img.on{
    width: 100%;
    display: block;
}

.sys-overview-section h3{
    margin-bottom: 0.5rem;
    color:  #525252;
}

.sys-overview-section .tag-badge{
    background-color: crimson;
    color: var(--color-w);
    font-weight: 500;
    font-size: 12px;
    border-radius: 8px;
    padding: .2rem 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    transition: ease 0.2s;
}

.sys-overview-section .tag-badge:hover{
       filter: brightness(0.85);
}

.sys-overview-section .tag-badge.on{
    transition: ease 0.2s;
    background-color: var(--color-primary);
}

.sys-overview-section .card-text{
    padding: 1rem;
    border: #a09e9e solid 1px;
    border-radius: 8px ;
    color: #3A3A3A;

}

@media (min-width: 768px) and (max-width: 1024px){
    .sys-overview-section .product-img.on{
    width: 80%;
    display: block;
    margin: 0 auto;
}
}


@media (min-width: 1025px){

    .sys-overview-section{
        display: flex;
        padding: 1rem 4rem;
        margin: 0 auto;

    }
    .sys-overview-section div:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5rem;
    }

    .sys-overview-section div:nth-child(2) .tag-badge{
        display: inline-block;
        width: fit-content;
        margin-left: auto;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    .sys-overview-section div:nth-child(2) .tag-badge:hover{
       filter: brightness(0.85);
    }

    .sys-overview-section .product-img.on{
    width: 100%;
    display: block;
    }

    .sys-overview-section .card-text{
    padding: 1rem;
    width: 20rem;
    border: #848383 solid 1px;
    border-radius: 8px ;
    color: #3A3A3A;
    font-size: 0.9rem;
    }
  
    
}